<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>存储测试工具集合</title>
    <link rel="stylesheet" href="/toolkitapp/static/layui/css/layui.css" >

</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" >
    <div class="layui-logo" href="/">
       <a href="/index/"><img src="/toolkitapp/static/media/logo.png" style="width: 100px; height: 40px"></a>
    </div>

  </div>

    <div class="layui-side layui-bg-black" >
    <div class="layui-side-scroll" >
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-skin="">
            <li data-name="home" class="layui-nav-item ">
              <a href="javascript:;" lay-tips="性能测试" lay-direction="2">
                <cite>性能测试</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd  id="fio">
                    <a href="/fio/" >fio</a>
                </dd>
                <dd  id="ior">
                  <a href="/ior/">ior</a>
                </dd>
                <dd  id="cosbench" >
                  <a href="/cosbench/">cosbench</a>
                </dd>
                  <dd  id="vdbench" >
                  <a href="/vdbench/">vdbench</a>
                </dd>
                    <dd  id="mdtest">
                  <a href="/mdtest/">mdtest</a>
                </dd>
              </dl>
            </li>
            <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="功能测试" lay-direction="2">
                <cite>功能测试</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="/authBucket/">authBucket</a>
                </dd>
                  <dd>
                  <a href="/obs-test/">obs-test</a>
                </dd>
              </dl>
            </li>
            <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="接口测试" lay-direction="2">
                <cite>接口测试</cite>
              <span class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="/BaseApiTest/">BaseApiTest</a>
                </dd>
              </dl>
            </li>

        </ul>
	</div>

 </div>

    <div class="layui-body layui-tab-content site-demo site-demo-body" >
    <!-- 内容主体区域 -->
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <div id="LAY_preview">
                    <blockquote class="layui-elem-quote">此工具用于便捷操存储测试，学习版本，存在BUG，自行下载源码修复。源码地址为：
                    </blockquote>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>工具概览</legend>
                    </fieldset>
                </div>
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>工具名称</th>
                        <th>适用存储类型</th>
                        <th>学习资料下载</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>fio</td>
                        <td>块存储/文件存储</td>
                        <td>
                            fio通常用于测试读写速率及IOPS速率，可用于块设备以及文件目录测试
                            <a href="/toolkitapp/resource/manual/ABManual.html" target="_blank">
                                <button class="layui-btn layui-btn-sm" style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td>ior</td>
                        <td>文件存储</td>
                        <td>
                            通常作为文件存储性能测试工具
                            <a href="/toolkitapp/resource/manual/IorManual.html" target="_blank">
                                <button class="layui-btn layui-btn-sm"  style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>
                     <tr>
                        <td>cosbench</td>
                        <td>对象存储</td>
                        <td>
                            通常作为对象存储性能测试工具
                            <a href="/toolkitapp/resource/manual/CosManual.html" target="_blank">
                                 <button class="layui-btn layui-btn-sm"  style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td>vdbench</td>
                        <td>文件存储</td>
                        <td>
                            通常作为文件存储读写测试工具（验证读写功能是否受影响）
                            <a href="/toolkitapp/resource/manual/VDManual.html" target="_blank">
                                 <button class="layui-btn layui-btn-sm"  style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td>mdtest</td>
                        <td>文件存储</td>
                        <td>
                            通常作为文件存储MDS元数据测试工具
                            <a href="/toolkitapp/resource/manual/MDManual.html" target="_blank">
                                <button class="layui-btn layui-btn-sm"  style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td>authBucket</td>
                        <td>对象存储</td>
                        <td>
                            验证对象存储授权租户是否具有正确的操作权限
                            <a href="/toolkitapp/resource/manual/ABManual.html" target="_blank">
                                <button class="layui-btn layui-btn-sm"  style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td>obs-test</td>
                        <td>对象存储</td>
                        <td>
                            对象存储按批次号操作测试（上传/下载/删除）
                            <a href="/toolkitapp/resource/manual/OTManual.html" target="_blank">
                                <button class="layui-btn layui-btn-sm"  style="float: right" type="button">手册资料</button>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td>BaseApiTest</td>
                        <td>SSA接口测试</td>
                        <td>
                            SSA API接口测试（对外提供接口）
                            <a href="/toolkitapp/resource/manual/BATManual.html" target="_blank">
                                <button class="layui-btn layui-btn-sm"  style="float: right" type="button" >手册资料</button>
                            </a>

                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-footer">
    <!-- 底部固定区域 -->
    © Copyright   柑橘与柠檬啊
    </div>

</div>

<script src="/toolkitapp/static/layui/layui.all.js"></script>
<script>


</script>


</body>
</html>